*{
    background-color: #0a0f2c;
    color: #d6b600;
    font-family: 'Amiri', serif;
}
.card {
  border: 4px solid #d6b600;
  border-top-left-radius: 40px;   
  border-bottom-right-radius: 40px; 
  padding: 30px;
  width: 400px;
  margin: 50px auto;
  margin-top: 100px;
}
h1::after {
  content: "";
  display: block;
  width: 250px;
  height: 2px;
  background-color: #d6b600;
  margin: 8px auto 0;
  border-radius: 2px;
}
h1{
        text-align: center;
}
.card{
    display: block;
    justify-items: center;
    text-align: center;
}
.input{
    border: 2px solid  #d6b600;
    border-radius: 8px;
    width: 300px;
    height: 40px;
    padding: 8px;
    margin-bottom: 15px;
    font-size: 16px; 
    outline: none;
}
.input:hover{
    background-color: #00235a; 
}
.btn{
    border: 2px solid  #d6b600;
    border-radius: 8px;
    width: 150px;
    height: 50px;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn:hover{
    background-color: #00235a; 
    color: #ffffff;}
.btn:active{
    background-color: #0a0f2c;
    color: #d6b600;
}

.forget a{
    text-decoration: none;
    font-size: 18px; 
}
.forget a:hover{
    color: #ffffff;
}
.forget a:active{
    color: #d6b600;;
}
.par{
    display: block;
    margin-top: 5px;
}